<h1>顧客のコメント</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">投稿元</th>
      <th scope="col">コメント</th>
      <th scope="col"></th>
    </tr>
  </thead>
  
  <tbody>
    <% @comments.each do |comment| %>
    <tr>
      <th scope="row">1</th>
      <!--投稿した画像と 人の名前と文章-->
      <td></td>
      <td>
        <%= comment.message %>
        <%= link_to comment.customer.name, admin_customer_path(comment.customer.id) %>
      </td>
      <td><%= link_to '削除', admin_comment_path(comment.id), method: :delete, class: "btn btn-danger" %></td>
    </tr>

  <% end %>
  </tbody>
  
</table>