<h3>会員一覧</h3>
<table class="table text-center">
  <thead>
    <tr>
      <th></th>
      <th style="width: 100px;">会員名</th>
      <th scope="col">メールアドレス</th>
      <th scope="col">ステータス</th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each_with_index do |customer,i| %>

    <!--アイコンと名前-->
    <tr>
      <th scope="row"><%= i +1 %></th>
      <td>
        <% if customer.profile_image.variant(resize_to_limit: [100, 100]) %>
        <%= image_tag customer.profile_image.variant(resize_to_limit: [100, 100]) %>
        <% end %>
        <%= link_to customer.name, admin_customer_path(customer.id) %>
      </td>

      <!--メールアドレス-->
      <td><%= customer.email %></td>

      <!--ステータス-->
      <td>
        <% if customer.is_deleted == false %>
        有効
        <% else %>
        退会
        <% end %>
      </td>
    </tr>
    <% end %>
</table>