@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import 'navbar';
@import 'sidebar';
@import 'slick';
@import 'click';


//ブックマークのタイトル
.font-title1 {
  font-family: 'Corben', cursive;
}

// お気に入りのタイトル
.font-title2 {
  font-family: "Nikukyu";
}

// みんなの投稿のタイトル
.font-title3 {
  font-family: "Nico Moji";
}

// コメント記入欄
.comment-field {
  width: 100%;
  height: 60px;
}

.comment-area {
  display: none;
}